body {
    margin: 0;
}
.heading {
    background-color: #4caf50;
    color: #f7fcfb;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}

.interactive-section {
    border-radius: 15px;
    margin: 20px 600px;
    box-shadow: 1px 1px 5px 5px gray;
    padding: 30px;
}


.aboutHeading {
    color: #4caf50;
    font-size: 30px;
    margin:30px 0px;
    font-weight: bold;
}

.paragraph {
    font-size:20px;
}

.image{
    text-align: center;
    margin:20px;
}

.list {
    font-size: 20px;
}

.footer {
    background-color: #333333;
    padding: 25px;
    color: white;
    font-size: 24px;
    text-align: center;
}

.footer span {
    font-size: 200%;
    color: red;
}